<div class="jumbotron">
    <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Titulo</h1>
    <h2>SubTitulo</h2>
    <h3>SubSubTitulo</h3>
    <a href="http://en1mes.com" class="btn btn-primary">
        En1Mes
        <span class="fab fa-android" style="color:red"></span>
    </a>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="page-header">
            <h3 style="display: inline;">Ejemplo de page header</h3>
            <span class="badge">New</span>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, aut harum officia, corporis quis est distinctio vitae molestias aliquam nostrum cum error magnam pariatur? Doloremque accusamus cum odio dolores tempora?</p>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Ejemplo de page header</h2>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, aut harum officia, corporis quis est distinctio vitae molestias aliquam nostrum cum error magnam pariatur? Doloremque accusamus cum odio dolores tempora?</p>
    </div>

    <div class="col-md-4">
        <div class="page-header">
            <h2>Ejemplo de page header</h2>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, aut harum officia, corporis quis est distinctio vitae molestias aliquam nostrum cum error magnam pariatur? Doloremque accusamus cum odio dolores tempora?</p>
    </div>
    </div>
</div>
<img src="https://en1mes.com/assets/logo-5d8021b65a5944316da34b544b012157.png" alt="">
<hr>
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>